body{
background-image: url(images/istockphoto-517188688-612x612.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}
p{

    color: blue;
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 6px;
    border-top: 2px dashed red;
    border-right: 4px double green;
    border-bottom: 3px dotted cyan;
    border-left: 3px solid orange;
    padding: 15px;
    /* width: 400px; */
}
div1{


    
}